@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@layer utilities {
  .rainbow-text {
    background-image: linear-gradient(90deg, #556ce3, #c850c0, #ffcc70);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
